 <!-- HEADER -->
 <header class="site-header">
  <div class="container header-inner">

    <!-- LEFT: BRAND -->
    <div class="header-left">
      <a href="index.html" class="logo">
        BMW<span>X</span>
      </a>
    </div>

    <!-- CENTER: NAVIGATION -->
    <nav class="main-nav">
      <a href="index.html"  data-i18n="nav.home">მთავარი</a>
      <a href="auctions.html" data-i18n="nav.auctions">აუქციონები</a>
      <a href="giveaways.html" data-i18n="nav.giveaways">გათამაშებები 🔥</a>
      <a href="contact.html" data-i18n="nav.contact">კონტაქტი</a>
    </nav>

    <!-- RIGHT: ACTIONS -->
    <div class="header-right">

      <!-- Language Switcher -->
      <div class="lang-switcher">
      <button class="lang-btn active" data-lang="ka">KA</button>
      <button class="lang-btn" data-lang="en">EN</button>
      </div>


      <!-- Auth -->
<a href="login.html" data-i18n="auth.login" class="nl-btn-nav">
  <span class="nl-btn-icon">🔒</span>
  <span class="nl-btn-text">AUTHORIZE</span>
</a>
    </div>

  </div>
</header>